{{ form_start(form) }}
    {{ form_widget(form) }}
	 {# Si la route est "annonces_edit on affiche les images #}
	{% if app.request.attributes.get('_route') == 'balade_edit' %}
        <h2>Images</h2>
        {% for image in balade.images %}
            <div>
                <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="150">

                {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                <a href="{{ path('balade_delete_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>
            </div>
        {% endfor %}
    {% endif %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
