{% extends 'base.html.twig' %}

{% block title %}Edit Balade{% endblock %}

{% block main %}
<div class="comtainer text-center">
    <h1>Edit Balade</h1>

    {{ form_start(form) }}
     {{ form_widget(form.titre) }}
                <hr>
                {{ form_widget(form.commune) }}
                <hr>
                {{ form_widget(form.secteur) }}
                <hr>
                {{ form_widget(form.duree) }}
                <hr>
                {{ form_widget(form.distance) }}
                <hr>
                {{ form_widget(form.images) }}

                {% if app.request.attributes.get('_route') == 'balade_edit' %}
        {% for image in balade.images %}
            <div>
                <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="70%" style="margin-top: 1em;">

                {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                <a href="{{ path('balade_delete_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>
            </div>
        {% endfor %}
    {% endif %}

                <hr>
                {{ form_widget(form.discription) }}
                <hr>
                {{ form_widget(form.lieuxDePauses) }}
                <hr>
                {{ form_widget(form.pointDinteret) }}
                <hr>
                {{ form_widget(form.pointDeDepart) }}
                <hr>

	 {# Si la route est "annonces_edit on affiche les images #}
	
    <button class="btn btn-primary">{{ button_label|default('Update') }}</button>
{{ form_end(form) }}
    </div>
{% endblock %}

