{% extends 'base.html.twig' %}
 
{% block title %}Balade index{% endblock %}
 
{% block main %}
    <h1 class="text-center" style="color:#631845">Les Balades</h1>
 
    <table class="table">
 
        <tbody>
        {% for balade in balades %}
            <div class="container text-center card w-100">
<div class="card-body">
                    <h5 class="card-title" style="color:#631845">{{ balade.titre }}</h5>
                    <p class="card-text" style="color:#B01377">Distance : {{ balade.distance }}Km | Temps : {{ balade.duree ? balade.duree|date('H:i') : '' }}</p>
                    <p class="card-text" style="color:#B01377">Commune : {{ balade.commune }}</p>
                    <p class="card-text" style="color:#B01377">Secteur : {{ balade.secteur }}</p>
                    
                    <a class="btn btn-primary" href="{{ path('balade_show', {'id': balade.id}) }}">Détails</a>
                                    
                </div>
            </div>
 
 
 
 
 
                {# {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('balade_edit', {'id': balade.id}) }}">edit</a>
                {% endif %} #}
 
 
        {% else %}
        <div class="container text-center">
            <tr>
                <td colspan="12">no records found</td>
            </tr>
            </div>
        {% endfor %}
        </tbody>
    </table>
 
    {% if is_granted('ROLE_ADMIN') %}
 
        <div class="container text-center">
            <hr>
            <h1>Ajouter une balade</h1>
            {{ form_start(form) }}
                {{ form_widget(form.titre) }}
                <hr>
                {{ form_widget(form.commune) }}
                <hr>
                {{ form_widget(form.secteur) }}
                <hr>
                {{ form_widget(form.duree) }}
                <hr>
                {{ form_widget(form.distance) }}
                <hr>
                {{ form_widget(form.images) }}
                <hr>
                {{ form_widget(form.discription) }}
                <hr>
                {{ form_widget(form.lieuxDePauses) }}
                <hr>
                {{ form_widget(form.pointDinteret) }}
                <hr>
                {{ form_widget(form.pointDeDepart) }}
                <hr>
                
                <button class="btn btn-primary">{{ button_label|default('Ajouter une balade') }}</button>
            {{ form_end(form) }}
        </div>
        
    {% endif %}
{% endblock %}
