{% extends 'base.html.twig' %}

{% block title %}New Balade{% endblock %}

{% block main %}
    <h1>Create new Balade</h1>

    {{ include('balade/_form.html.twig') }}

    <a href="{{ path('balade_index') }}">back to list</a>
{% endblock %}
