{% extends 'base.html.twig' %}

{% block title %}Balade{% endblock %}

{% block main %}


    <div class="container text-center">
	    <div>
		    <h1 style="color:#631845">{{ balade.titre }}</h1>
			
			<p style="color:#B01377">Distance : {{ balade.distance }}Km | Temps : {{ balade.duree ? balade.duree|date('H:i') : '' }}</p>
			<p style="color:#B01377">Commune : {{ balade.commune }}</p>
			<p style="color:#B01377">Secteur : {{ balade.secteur }}</p>

			<div class="row">

				<div class="col">
				    <div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('balade_edit', {'id': balade.id}) }}"><figure><img class="icon__social" src="{{ asset('build/icons/edit.png') }}" width="30px" alt="edit" title=""></figure></a>
                    {% endif %}
				    </div>
				</div>

				<div class="col d-print-none">

                    <a href="#" id="btnPrint"><img src="{{ asset("build/icons/print.png") }}" alt="Imprimer"></a>

				</div>

				<div class="col">
                {% if is_granted('ROLE_ADMIN') %}
                 {{ include('balade/_delete_form.html.twig') }}
						
                {% endif %}
				</div>
										
			</div>

									

									
			

    {# Si la route est "annonces_edit on affiche les images #}
	{% if app.request.attributes.get('_route') == 'balade_show' %}
        
        {% for image in balade.images %}
            <div>
                <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="100%" style="margin-bottom: 2em; margin-top: 1em; position: relative; display: flex;">

                {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                {# <a href="{{ path('balade_delete_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>  #}
            </div>
        {% endfor %}
    {% endif %}


			<h5 style="color:#B01377">Description</h5>
			<p>{{ balade.discription }}</p>

			<h5 style="color:#B01377">Points d’intérêt</h5>
			<p>{{ balade.pointDinteret }}</p>

			<h5 style="color:#B01377">Points de départ</h5>
			<p>{{ balade.pointDeDepart }}</p>

            <h5 style="color:#B01377">Lieux de pause</h5>
			<p>{{ balade.lieuxDePauses }}</p>
									
		</div>
	</div>


   
{% endblock %}
