{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}
<div class="container text-center">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <a href="{{ path('app_login') }}">Login</a>

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        <hr>
        {{ form_row(registrationForm.plainPassword, {
            label: ' '
        }) }}
        <hr>
        {{ form_row(registrationForm.nom) }}
        <hr>
        {{ form_row(registrationForm.prenom) }}
        <hr>
        {{ form_row(registrationForm.agreeTerms) }}
        <hr>

        <button type="submit" class="btn btn-lg btn-primary">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
