// se renseigner sur les map... :
$theme-colors: (
  "primary": #631845,
  "secondary": #7A7A7A,
  "info": #B01377
);

$primary: #631845;
$secondary: #7A7A7A;
$info: #B01377;

hr.dropdown-divider
{
  border-top: 3px solid $primary;
  width: 30%;
}


@import 'bootstrap/scss/bootstrap.scss';
