{% set route_name = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Accueil Espace Balades{% endblock %}
		</title>
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
		<link rel="shortcut icon" href="#">
	</head>

	<body>
		<header id="header" class="bg-white shadow px-3 py-1 mb-4 rounded d-print-none">
			<div class="container">
				<div class="row">
					<nav class="col navbar navbar-expand-md navbar-light">
						<a
							class="navbar-brand" href="">
							{# {{ path('balades') }} à remplacer quand créée #}
							<img src="{{ asset('/img/image1.png')}}" width="100px" alt="Logo - Redirige vers l'accueil (liste des balades)" loading="lazy">
						</a>
						{# width du svg à régler en fonction de la taille d'écran - 120 = PC ; rien = mobile #}

						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div id="navbarNav" class="collapse navbar-collapse offset-md-7">
							<ul class="navbar-nav">
								{% if route_name != "login" %}
									<li class="nav-item dropdown d-md-block d-none">
									

										<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if app.user %}{{ app.user.nom }}{% endif %}</a>
									
										
										<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											
											<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
										</div>
									</li>
									
									{# {{ path(profil) }} #}

									<li class="nav-item">
									{% if app.user %}
										<h2 class="my-4 text-center d-md-none">{{ app.user.nom }}</h2>
									{% endif %}
									</li>

									<hr class="dropdown-divider my-4 my-md-0 d-md-none">
									<li {% if route_name == "balade_index" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
										<a href="{{ path('balade_index') }}" class="nav-link">Les Balades</a>
									</li>
									<li {% if route_name == "checklist" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
										<a href="{{ path('checklist') }}" class="nav-link">La Checklist</a>
									</li>

									<li class="nav-item">
										<a class="nav-link mt-4 d-md-none" href="{{ path('app_logout') }}">Déconnexion</a>
									</li>
								{% endif %}
							</ul>
						</div>
						{# #navbarNav #}
					</nav>
				</div>
				{# .row #}
			</div>
			{# .container #}
		</header>
		{# .bg-dark #}


		<main id="main">
			{% block main %}{% endblock %}
		</main>


		<footer id="footer" class="bg-light py-4 mt-4 d-print-none">
			<div class="container">
				<div class="row">
					<div class="col text-md-center font-weight-bold">
						<a href="{{ path('balade_index') }}" class="text-secondary">Espace Balades</a>
					</div>
					{# .col #}

					<div class="col text-center font-weight-bold">
						<a href="{{ path('checklist') }}" class="text-secondary">Checklist</a>
					</div>
					{# .col #}
				</div>
				{# .row #}
			</div>
			{# .container #}
		</footer>

		{# JAVASCRIPT #}
		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
	</body>
</html>