{% extends 'base.html.twig' %}

{% block title %}Checklist de départ{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('checklist') }}
{% endblock %}


{% block main %}

<h1 class="text-center text-primary pt-3 mb-5 font-weight-bold">Checklist de départ</h1>

{% if is_granted('ROLE_ADMIN') %}
{# APP FLASHES #}

	<section class="container mt-3 d-print-none">
		<div class="row">
			<div class="col">

				{% for message in app.flashes('success') %}
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<div class="flash-notice">
							<h5 class="alert-heading">Bravo ! </h5>
							<p>{{ message }}</p>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						{# flash-notice #}
					</div>
					{# alert #}
				{% endfor %}

				{% for message in app.flashes('notice') %}
					<div class="alert alert-info alert-dismissible fade show" role="alert">
						<div class="flash-notice">
							<h5 class="alert-heading">Au poil !</h5>
							<p>{{ message }}</p>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						{# flash-notice #}
					</div>
					{# alert #}
				{% endfor %}

				{% for message in app.flashes('error') %}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<div class="flash-notice">
							<h5 class="alert-heading">Oups...</h5>
							<p>{{ message }}</p>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						{# flash-notice #}
					</div>
					{# alert #}
				{% endfor %}

			</div>
			{# col #}
		</div>
		{# row #}
	</section>
	{# container #}
{# CONTENT #}
{% endif %}


<section class="container">

	{# btn print #}
	<div class="row d-print-none">
		<div class="col-2 offset-10 col-md-3 offset-md-9 mb-4">
			<a href="#" id="btnPrint"><img src="{{ asset("build/icons/print.png") }}" alt="Imprimer"></a>
		</div> {# col #}
	</div> {# row #}


	{# ADDFORM #}


	{% if is_granted('ROLE_ADMIN') %}
		<div class="row d-print-none">
			<div class="col-12 col-md-8 offset-md-2 list-items shadow px-5 py-3 mb-4 rounded-lg d-flex justify-content-around">

				<div>
					{{ form_start(addForm) }}

					{# {{ form_label(addForm, 'Nouvel item') }} #}

					{{ form_widget(addForm) }}
				</div>
				
				<div>
					<button type="submit" class="btn btn-outline-info mb-2 float-right">+</button>
				</div>

				{{ form_end(addForm) }}
			</div> {# col #}
		</div> {# row #}
	{% endif %}


	{# ITEMS + FORMS de modif#}


	<fieldset class="row">
		<div class="col-12 col-md-8 offset-md-2 list-items shadow px-5 py-3 mb-4 rounded-lg">
			<div class="mb-1">
				{% for pair in itemsAndForms %}
					<div id="checklistPair{{ loop.index0 }}" class="checklist-pair">
				

						{# ITEMS #} 

						<div id="itemGroup{{ loop.index0 }}" class="form-group item-group d-flex flex-wrap justify-content-between my-3 pb-2 border-bottom">
							
							<div>
								<input type="checkbox" id="item{{ pair[0].id }}" class="form-check-input">
								<label for="item{{ pair[0].id }}" class="form-label">{{ loop.index0 }} - {{ pair[0].item }}</label>
							</div>
							
							{% if is_granted('ROLE_ADMIN') %}
								<div class="d-print-none">
									{# btn MODIFIER #}
									<a id="updateItemGroup{{ loop.index0 }}Btn" class="update-item-btn btn btn-outline-warning"><img src="{{ asset('build/icons/edit_20.png')}}" alt="Modifier"></a>

									{# btn SUPPRIMER #}
									<a href="{{ path("deleteItem", {id: pair[0].id}) }}" class="btn btn-outline-danger"><img src="{{ asset("build/icons/delete_20.png")}}" alt="Supprimer"></a>
								</div>
							{% endif %}
						</div>
						{# form-group #}


						{# FORMULAIRES DE MODIFICATION #}

						{% if is_granted('ROLE_ADMIN') %}
							<div id="updateItemGroup{{ loop.index0 }}" class="form-group update-item-group d-none flex-wrap justify-content-between my-3 pb-2 border-bottom flex-fill d-print-none" data-item-id="{{ pair[0].id }}">
										<div class="mb-2">
											{{ form_start(pair[1]) }}

											{{ form_widget(pair[1].item, {
												"attr" : {"class" : "update-input"}
												})
											}}
										</div>

										<div>
											{# btn annuler #}
											<button type="button" id="cancelUpdateItemGroup{{ loop.index0 }}Btn" class="cancel-update-item-btn mr-2 btn btn-outline-secondary rounded border" data-default-value="{{ pair[0].item }}">Annuler</button>

											{# btn envoyer la modif #}
											<button type="submit" class="btn btn-outline-info rounded border">Valider</button>
										</div>
										
									{{ form_end(pair[1]) }}
							</div>
							{# form-group #}
						</div>
						{# checklistGroup[i] #}
					{% endif %}
				{% endfor %}
			</div>
			{# mb #}
		</div> {# col #}
	</fieldset> {# row #}
</section> {# container #}
{% endblock %}




{# ========== SCRIPTS ========== #}

{% block javascripts %}
	{{ encore_entry_script_tags('checklist') }}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
